### Predicting employee retention using a neural network model

### Here we will use a test dataset containing 15000 entries with each entriy containing attributes such as employee satisffaction level, emp evaluation, average monthly hours, promotions in last 5 years etc

In [3]:
import pandas as pd
import numpy as np
df = pd.read_csv("dataset.csv")
df.head()

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years,department,salary
0,0.38,0.53,2,157,3,0,1,0,sales,low
1,0.80,0.86,5,262,6,0,1,0,sales,medium
2,0.11,0.88,7,272,4,0,1,0,sales,medium
3,0.72,0.87,5,223,5,0,1,0,sales,low
4,0.37,0.52,2,159,3,0,1,0,sales,low

#### Converting non integer attributes to integer attributes

In [4]:
feats = ['department','salary']
df_final = pd.get_dummies(df,columns=feats,drop_first=True)

#### Splitting the dataset into training data and testing data

In [5]:
from sklearn.model_selection import train_test_split
X = df_final.drop(['left'],axis=1).values
y = df_final['left'].values

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3)

#### Normalizing the dataset

In [6]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

### Creating the neural network

In [7]:
import keras
from keras.models import Sequential
from keras.layers import Dense

classifier = Sequential()

classifier.add(Dense(9, kernel_initializer = "uniform",activation = "relu", input_dim=18))
classifier.add(Dense(1, kernel_initializer = "uniform",activation = "sigmoid"))

classifier.compile(optimizer= "adam",loss = "binary_crossentropy",metrics = ["accuracy"])

Using TensorFlow backend.

WARNING:tensorflow:From C:\Users\IronMan\AppData\Local\Continuum\anaconda3\lib\site-packages\tensorflow\python\framework\op_def_library.py:263: colocate_with (from tensorflow.python.framework.ops) is deprecated and will be removed in a future version.
Instructions for updating:
Colocations handled automatically by placer.

### Training the model

In [8]:
classifier.fit(X_train, y_train, batch_size = 10, epochs = 1)

WARNING:tensorflow:From C:\Users\IronMan\AppData\Local\Continuum\anaconda3\lib\site-packages\tensorflow\python\ops\math_ops.py:3066: to_int32 (from tensorflow.python.ops.math_ops) is deprecated and will be removed in a future version.
Instructions for updating:
Use tf.cast instead.
Epoch 1/1
10499/10499 [==============================] - 3s 244us/step - loss: 0.4195 - acc: 0.8006

In [15]:
y_pred = classifier.predict(X_test)


y_pred = (y_pred > 0.5)

In [10]:
from sklearn.metrics import confusion_matrix
confusionmatrix = confusion_matrix(y_test, y_pred)
confusionmatrix

array([[3319,   99],
       [ 668,  414]], dtype=int64)

### The accuracy of the model is (3305+375)/4500 = 81.7%